<h2 mat-dialog-title>Create Vault Item</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Website</mat-label>
      <input matInput [(ngModel)]="vaultItem.website" name="website" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="vaultItem.username"
        name="username"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="vaultItem.password"
        name="password"
        required
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </mat-dialog-actions>
</form>
